{% load wagtailimages_tags %}
{% image self.banner.image original as img %}            

    <div class="jumbotron" style="background-image: url('{{ img.url }}'); background-size: cover; height: 50vh; background-position: center center"> 
                   
    
        {% if self.banner.title %}
            <h1 class='display-4'> {{ self.banner.title }} </h1>
        {% endif %}

        {% if self.banner.sub_title %}
            <p>{{ self.banner.sub_title }}</p>
        {% endif  %}

    </div>

    

