{% load wagtailimages_tags %}
{% image self.square_banner.image original as img %}            

    <div class="jumbotron jumbotron-fluid" style="background-image: url('{{ img.url }}');  
        height: 40vh; 
        min-height: 350px;
        background-repeat: no-repeat;
        background-size: 80vh 100%; 
        background-position: center bottom;
        text-shadow: #444 0 1px 1px;
        background-color: #0d0d0d;
        position: relative;"> 

        <div class ="container-fluid" style="width : 80vh">

            <div class="container" style="
                position: absolute; 
                bottom: 0; 
                height: 150px;
                ">

                {% if self.square_banner.title %}
                    <h1 class='display-4' style="color: white;"> {{ self.square_banner.title }} </h1>
                {% endif %}

                {% if self.square_banner.sub_title %}
                    <p style="color: white;" >{{ self.square_banner.sub_title }}</p>
                {% endif  %}
            </div>
        </div>
    </div>