{% load wagtailimages_tags %}

<div class="container mb-sm-5 mt-sm-5">
    <h1 class="text-center mb-sm-5">{{ self.title }}</h1>
    <div class="card-deck">
      
      
        {% for card in self.cards %}
           
            {% image card.image fill-500x500-c75 as img %}
            <div class="card">

                <img src="{{ img.url }}" alt="{{ img.alt }}" class="card-img-top" width="{{ tmp_photo.width }}" height="{{ tmp_photo.height }}"/>

                <div class="card-body">
                    <h5 class="card-title">{{ card.title }}</h5>
                    <p class="card-text">{{ card.text_body }}</p>
                    
                    {% if card.local_page_button %}
                        <a href="{{ card.local_page_button.url }}" class="btn btn-primary">
                            Learn More
                        </a>
                    {% elif card.url_button %}
                        <a href="{{ card.url_button }}" class="btn btn-primary">
                            Learn More >>
                        </a>
                    {% endif %}

                </div>
            </div>
        {% endfor %}
    </div>
</div>