{% load wagtailimages_tags %}
{% image self.right_featurette.img fill-445x445-c75 as img %}

<div class="container">
        <div class="row featurette wow bounceInLeft">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading"> {{ self.right_featurette.title }} </h2>
                <span class="featurette-heading text-muted">{{ self.right_featurette.sub_title }}</span>
                <p class="lead">{{ self.right_featurette.paragraph }}</p>
            </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="{{ img.url }}" alt="{{ img.alt }}">
        </div>
    </div>
</div>
<hr  style=" border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #cccccc, #f2f2f2, #f0f0f0, #cccccc);" >


