{% load wagtailimages_tags %}

    <div class="container">
        <ul class="list-unstyled">
            {% for element in self.mediaList %}
                {% image element.image fill-85x85-c75 as img %}

                    <li class="media mr-4">
                        <img src="{{ img.url }}" class="align-self-center mr-3" alt="{{ img.alt }}">
                        <div class="media-body">

                        <h5 class="mt-0 mb-1 ">{{ element.title }}</h5>
                        {{element.paragraph}}
                        </div>
                    </li>

            {% endfor %}
        </ul>
    </div>


