<nav class="navbar navbar-expand-md navbar-dark custom-nav fixed-top">

              <a class="navbar-brand hvr-grow" href="/">
                <img style="height:45px; width:45px" src="/media/images/CSforSAC_Transparent.max-165x165.png" alt="">
                CSforSAC</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle hvr-grow" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Home
                      </a>
                      
                      <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <a class="dropdown-item hvr-grow" href="#">Map</a>
                        <a class="dropdown-item hvr-grow" href="#">Calendar</a>
                        <a class="dropdown-item hvr-grow" href="/blog-listing">Blog</a>
                      </div>
                   
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle hvr-grow" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item hvr-grow" href="/about">What is CS?</a>
                        <a class="dropdown-item hvr-grow" href="/about">Why CS Education?</a>
                        <a class="dropdown-item hvr-grow" href="/about">Research</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle hvr-grow" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Learn
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item hvr-grow" href="/learn">Curriculum</a>
                        <a class="dropdown-item hvr-grow" href="/learn">Summer of CS</a>
                    </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hvr-grow" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Collaborate
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item hvr-grow" href="/collaborate">Elementary</a>
                      <a class="dropdown-item hvr-grow" href="/collaborate">Middle School</a>
                      <a class="dropdown-item hvr-grow" href="/collaborate">High School</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item hvr-grow" href="#">Expanded Learning</a>
                    </div>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hvr-grow" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Support
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item hvr-grow" href="/support">Teach CS!</a>
                      <a class="dropdown-item hvr-grow" href="/support">Standards and Framework</a>
                      <a class="dropdown-item hvr-grow" href="/support">Implementation</a>
                  </li>
                <li class="nav-item">
        	      	<a class="nav-link hvr-grow" href="/contact">Contact</a>
      		      </li>
		        </ul>
          </div>

        </nav>