{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}

    {% for block in page.header_content %}
        {% include_block block %}
    {% endfor %} 

    <div class="jumbotron" style="background-color:#e6ffff"> 
        {% for block in self.elementary %}
            {% include_block block %}
        {% endfor %}
    </div>

    <a id="middle_school"></a>
    <div class="jumbotron" style="background-color:#e6ffe6">     
    <div style="height: 4px;"></div>
        {% for block in self.middle_school %}
            {% include_block block %}
        {% endfor %}
    </div>

    <a id="high_school"></a>
    <div  class="jumbotron" style="background-color:#fff2e6"> 
        <div style="height: 4px;"></div>
        {% for block in self.high_school %}
            {% include_block block %}
        {% endfor %}
    </div>

{% endblock %}