{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="first-slide" src="https://picsum.photos/800/300" alt="First slide">
			<div class="container">
				<div class="carousel-caption text-left">
					<h1> {{ page.header}}</h1>
					<p>{{ page.subheader }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- todo: fix giant header image -->
	{% for block in self.body %}
		{% include_block block %}
	{% endfor%}

<div class="container text-center">

	<div class="row">
		
		<div class="col-md-12 col-lg-4 contact-section">
			<i class="fa fa-envelope large-icon"></i>
			<h2>{{page.email_title}}</h2>
			<span>{{page.email_sub_info}}</span>
		</div>
		
		<div class="col-md-12 col-lg-4 contact-section">
			<i class="fa fa-phone large-icon"></i>
			<h2>{{page.phone_title}}</h2>
			<span>{{page.phone_sub_info}}</span>
		</div>
		
		<div class="col-md-12 col-lg-4 contact-section">
			<i class="fa fa-map-marker large-icon"></i>
			<h2>{{page.address_title}}</h2>
			<span>{{page.address_sub_info}}</span>
		</div>
		
	</div>
</div><!-- /.container -->
      

{% endblock %}
