
{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}


{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />

{% endblock %}

{% block content %}





<div class="scrollbar" id="ex4">
<div class="content">
   <div id="menuwrapper">
      <ul>

	  	{% for e in events %}

         <li>
            <a href="#">{{ e.title }}</a>
            	<p>{{e.description}}</p>
         </li>

		{% endfor %}

      </ul>
   </div>
</div>

<div style="padding-bottom: 50px;" class="container">

	<h1 class="text-center">Calendar of Events</h1>
    <div id="menu">
      <span id="menu-navi">
        <button type="button" class="btn btn-default btn-sm move-today" data-action="move-today">Today</button>
        <button type="button" class="btn btn-default btn-sm move-day" data-action="move-prev">
          <i class="calendar-icon ic-arrow-line-left" data-action="move-prev"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm move-day" data-action="move-next">
          <i class="calendar-icon ic-arrow-line-right" data-action="move-next"></i>
        </button>
      </span>
      <span id="renderRange" class="render-range"></span>
    </div>


	<div id="calendar" style="height: 800px;"></div>


</div>



{% endblock %}


{% block extra_js %}
	<script src="{% static 'js/events_page.js' %}"></script>
	<script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
	<script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>


	<script>
		var Calendar = tui.Calendar;

		var calendar = new Calendar('#calendar', {
	  defaultView: 'month',
	  taskView: true,
	  template: {
	    monthGridHeader: function(model) {
	      var date = new Date(model.date);
	      var template = '<span class="tui-full-calendar-weekday-grid-date">' + date.getDate() + '</span>';
	      return template;
	    }
	  }
	});	
	</script>
{% endblock %}