
{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}
    {% image self.article_image fill-1200x300 as header_image %}

    <p> </p>
    <div class='container'>
            <h1> {{self.custom_title}}</h1>
    </div>
    <p> </p>
    <div class='container'>
        <img src='{{header_image.url}}' alt="{{ header_image.alt }}" style='width: 100%; height: auto;'>

        {% for block in page.content %}
            {% include_block block %}

        {% endfor%}

    </div>

{% endblock %}
