
{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}
    {% image self.article_image height-280 as header_image %}

    <p> </p>
    <div class='container'>
            <h1> {{self.custom_title}}</h1>
    </div>
    <p> </p>
    <div class='container'>
        <img src='{{header_image.url}}' alt="{{ header_image.alt }}" style='{{ header_image.width }}'>

        {% for block in self.content %}
            {% include_block block %}
        {% endfor%}

        <!--This is an example of how to add content in a dynamic way
        Just call self.NameOfYourContent whereever you'd like to put 
        it and you can style it how you'd like-->
        {% comment %}         
            <div> stuff </div>
            {% for block in self.contentTwo %}
                {% include_block block %}
            {% endfor%} 
        {% endcomment %}
    </div>

{% endblock %}
