{% extends "base.html" %}

{% block content %}

        
        <div class="jumbotron"> 
            <h1 class='display-4'>CSforSAC Blog Listing</h1>
        </div>

        {% for article in articles%}
                <div class = 'Container'>
                        <h1 class='display-4'>{{ article.title |safe }} </h>
                    <p>
                        {{article.content |safe}}
                    </p>

                </div>
            
        {% endfor %}
 
{% endblock %}