body {
    color: #231f20;
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    line-height: 1.25;
}

.main {
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;
}

hr .styled-hr{ 
  display: block;
  unicode-bidi: isolate;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 70%; 
  overflow: hidden;
}

#quote1 {
    text-align: center;
    padding-bottom: 20px;
}