.fa {
	font-size: 20px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: white !important;
    border: none;
    color: black;
}

.prev, .next, .today {
	margin: 0px 5px 0px 5px !important;
}